<div class="container">
  <div class="col-5 mx-auto text-center" id="chart-title">
    <h1>Account Balance</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto" *ngIf="operations.length > 0">
      <canvas baseChart [colors]="chartColors" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>