<app-nav-bar></app-nav-bar>

<router-outlet></router-outlet>

<footer class="py-5  bg-primary">
  <div class="container">
      <p class="m-0 text-center text-white" id="footer-first"> World Bank 2018 &copy;</p>
  </div>
</footer>

<script src="node_modules/chart.js/src/chart.js"></script>

