<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#">Bank</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mx-auto">
      <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['']">Home</a>
      <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['operations']">Operations</a>
      <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['chart']">Chart</a>
    </div>
  </div>
</nav>


