<h1 class="display-3 text-center" id="title">World Bank</h1>
<p class="lead text-center">The bank you need. Classy, efficient, worldwide</p>
<hr class="my-4">


<div class="container-fluid">
  <div class="col-6 mx-auto">
    <table class="table table-hover mt-5">
      <thead>
        <tr>
          <th>Description</th>
          <th>Credit</th>
          <th>Debit</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of operations" (click)="selected = item" id="operations">
          <td>{{item.description}}</td>
          <td>{{item.credit}} €</td>
          <td>-{{item.debit}} €</td>
          <td>{{item.date | date: 'dd/M/yyyy'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <ul class="list-group mx-auto col-7 text-center mt-4" *ngIf="selected">
    <li class="list-group-item"> <strong> Description :</strong> {{selected.description}};<strong> Credit :</strong>
      {{selected.credit}}; <strong> Debit :</strong> {{selected.debit}}; <strong>Date : </strong>; {{selected.date |
      date:'dd/M/yyyy'}}</li>
    <button class="btn btn-outline-danger col-lg-4 col-md-4 mx-auto mt-2" (click)="deleteOperation(selected)">Delete
      Operation</button>
  </ul>
</div>

<div class="container-fluid">
  <div class="col-2 mx-auto text-center">
    <table class="table table-hover mt-4">
      <thead>
        <tr>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{total}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="container">
  <hr class="my-4">
  <h1 class="title text-center mt-5">Add Operation</h1>

  <form id="form-debit" (ngSubmit)="addOperation()">
    <div class="form-group col-8 mx-auto">
      <label>Debit</label>
      <input class="form-control" placeholder="Debit" type="text" name="debit" [(ngModel)]="newOperation.debit">
    </div>
    <div class="form-group col-8 mx-auto mt-10">
      <label>Credit</label>
      <input class="form-control" placeholder="Credit" type="text" name="credit" [(ngModel)]="newOperation.credit">
    </div>
    <div class="form-group col-8 mx-auto">
      <label>Description</label>
      <input class="form-control" placeholder="Description" type="text" name="description" [(ngModel)]="newOperation.description">
    </div>
    <div class="form-group col-8 mx-auto">
      <label>Date</label>
      <input class="form-control" placeholder="date" type="date" name="date" [(ngModel)]="newOperation.date">
      <button class="btn btn-outline-success mt-4 mx-auto mb-2" type="submit" value="Add">Add Operation</button>
    </div>
  </form>

</div>