#form-debit {
  padding-top: 20px;
}

#operations:hover {
  background-color: rgb(46, 64, 80) !important;
  color: white !important;
}

#total:hover {
  background-color: #242C4A !important;
  color: white !important;
}
 
#title {
  margin-top: 70px;
}